/* <!--Start topNav--> */
/* TODO: Completed */

.topNav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    /* Align items with space between them */
    height: 80px;
    padding: 10px;
    /* Add padding to the topNav for better spacing */
    border: lightblue solid 5px;
    border-radius: 22px;
    box-shadow: 5px 10px 8px lightblue;
}

.leftBox {
    display: flex;
    color: whitesmoke;
    align-items: center;
    gap: 20px;
    margin-left: 180px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border: lightblue double 8px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 5px 5px 8px lightblue;
}

.leftBox p {
    color: lightblue;
    outline-color: black;
    padding: 10px;
    border: lightblue solid 4px;
    border-style: dashed solid;
    box-shadow: 3px 3px 3px lightblue;
}

.leftBox h2 {
    margin-left: 15px;
    box-shadow: 4px 3px 3px lightblue;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    border: 3px;
}

.rightBox {
    display: flex;
    background-color: lightblue;
    gap: 10px;
    margin-right: 80px;
    border: black solid 10px;
    border-radius: 20px;
    border-style: double;
}

.signOutBtn {
    border-radius: 30px;
    color: black;
    font-family: 'Times New Roman', Times, serif;

}

/* <!--End topNav--> */


/* -----@@------------------------------------------------@@----- */



/* <!--Start profileNav--> */
/* TODO: */

.profileNav {
    display: flex;
    background-color: black;
    border: lightblue solid 5px;
    border-radius: 22px;
    height: 400px;
    width: 550px;
    margin-top: 15px;
    padding: 3px;
}

.topBar {
    display: flex;
    height: 100px;
    width: 550px;
    border: lightblue solid 5px;
    border-radius: 22px;
    margin: 5px;
    background-color: black;
    margin-top: 7px;
    box-shadow: 5px 10px 8px red;
}

.topBar img {
    border-style: dashed solid;
    border-radius: 17px;
    border-width: 3px;
    border-color: black;
    position: absolute;
    bottom: 435px;
    /* transform: translateX(-50%); */
    height: 100px;
}


/* <!--End profileNav--> */






/* -----@@------------------------------------------------@@----- */

/* TODO: completed */
.notesNav {
    display: flex;
    background-color: black;
    border: lightblue solid 5px;
    border-radius: 22px;
    height: 400px;
    width: 550px;
    margin-top: 15px;
    padding: 3px;
}


.topNotesBar {
    display: flex;
    height: 50px;
    width: 498px;
    border: lightblue solid 10px;
    border-radius: 22px;
    border-width: 5px;
    margin: 8px;
    background-color: black;
    margin-top: 7px;
    left: 32px;
    position: absolute;
    /* align-self: center; */
    color: black;
}

.topNotesBar p {
    padding-left: 15px;
    color: whitesmoke;
}

.bottomNotesBar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: whitesmoke;
    border: lightblue solid 5px;
    border-radius: 15px;
    margin-top: 74px;
    margin-left: 18px;
    /* margin-right: 10px; */
    margin-bottom: 10px;
    width: 500px;
}

.notesNav .bottomNotesBar p {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: whitesmoke;
}

#datetime-display {
    color: red;
}



/* -----@@------------------------------------------------@@----- */





/* <!--start Connection Request Nav--> */
/* TODO: */

.conReqNav {}

.topConReqBar {}

/* <!--End Connection Request Nav--> */





/* -----@@------------------------------------------------@@----- */





/* <!--Start Personal Connection Nav--> */
/* TODO: */

.personalConNav {}

.topPerConBar {}

.bottomPerConBar {}

/* <!--End Personal Connection Nav--> */
